.navbar{
    min-height: 70px;
}

.logo{
    color: #1F3A6B;
    text-decoration: none;
}

.logo i{
    font-size: 30px;
}

.nav-item a{
    font-size: 16px;
    opacity: 0.8;
    font-weight: 500;
}

.nav-link:hover{
    opacity: 1;
}

.form-control {
    max-width: 100%;
}

.profile-icons{
    font-size: 20px;
}

.btn-primary {
    background-color: #1F3A6B;
    color: white;
}

.slogan{
    background-color:#d8f0f5;
    padding: 70px;
}

.slogan-main p {
    opacity: 0.8;
}

.slogan img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.slogan-btn{
    background-color: #1F3A6B;
    color: white;
}


.explore{
    padding: 60px 0;
}

.explore i {
    font-size: 50px;
    text-align: center;
    color: #1F3A6B;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}

.card i{
    color: #1F3A6B;
}

.custom-card {
  width: 100%;
}

.custom-pages a{
    text-decoration: none;
    color: black;
    padding: 10px;
    opacity: 0.7;
}

.custom-pages a:hover{
    opacity: 1;
}

@media (min-width: 992px) {
    .form-control {
        width: 250px;
    }
}